* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
    line-height: 1.6;
    outline: none;
    border: none;
}

*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    border-radius: 300px;
    background-color: var(--border-color);
    border: 10px solid var(--shade-blue);
}

*::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background-color: var(--shade-blue);
    border: 2px solid var(--white);
}

:root {
    --shade-blue: #000f19;
    --white: #ffffff;
    --white-sm: #fefefe;
    --green: #3CCF91;
    --light-green: #9ae6b4;
    --light-pink: #fbb6ce;
    --light-yellow: #faf089;
    --border-color: #ffffff29;
    --gray--color: #8f9094;
    --crimson: #dc143c;
}

button,
textarea,
input {
    font-family: JetBrains Mono, monospace;
    font-size: 1.02rem;
}

.loader-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--shade-blue);
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    z-index: 998;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: fadeOut 6s ease-in-out 0.1s alternate;
    opacity: 0;
    text-align: center;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.loader-container h1 {
    text-transform: capitalize;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--green);
}

.loader {
    width: 65px;
    aspect-ratio: 1;
    position: relative;
    margin-top: 10px;
}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    border-radius: 50px;
    box-shadow: 0 0 0 3px inset #dc143c;
    animation: l4 2.5s infinite;
}

.loader:after {
    animation-delay: -1.25s;
}

@keyframes l4 {
    0% {
        inset: 0 35px 35px 0;
    }

    12.5% {
        inset: 0 35px 0 0;
    }

    25% {
        inset: 35px 35px 0 0;
    }

    37.5% {
        inset: 35px 0 0 0;
    }

    50% {
        inset: 35px 0 0 35px;
    }

    62.5% {
        inset: 0 0 0 35px;
    }

    75% {
        inset: 0 0 35px 35px;
    }

    87.5% {
        inset: 0 0 35px 0;
    }

    100% {
        inset: 0 35px 35px 0;
    }
}

.loader-container.hide {
    display: none;
}

body {
    font-family: JetBrains Mono, monospace;
    background-color: var(--shade-blue);
    width: 100%;
    min-height: 100vh;
    padding-bottom: 2rem;
}

main .formlink,
.projectContainer .projects .project-box .profile-icon,
.projectContainer .projects,
.aboutMe .profile .about,
.aboutMe .profile .edoContainer,
.aboutMe .profile {
    display: flex;
}

.container-COE {
    width: 90%;
    max-width: 1400px;
    min-height: inherit;
    margin: 0 auto;
}

.container-COE header,
.container-COE main,
.container-COE footer {
    width: 100%;
}

.container-COE main {
    margin-top: 2rem;
}

main .headerContent {
    position: relative;
    padding: 2rem 0 0 3rem;
}

main .headerContent #dotsImg {
    width: 8rem;
    top: 0%;
    left: 0%;
    position: absolute;
    z-index: -1;
}

main .headerContent h3.heyStat {
    color: var(--green);
    font-size: 1.8rem;
}

main .headerContent h1.admin {
    font-size: clamp(2.5rem, 8vw, 5rem);
    color: var(--white);
    font-weight: 600;
    line-height: 1.1;
    margin: 0.5rem 0;
}

main .headerContent h1.admin span {
    background-image: linear-gradient(180deg, transparent 65%, var(--crimson) 65%, var(--crimson) 85%, transparent 85%);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    display: inline;
}

main .headerContent h1.admin span::after {
    display: none;
}

main .headerContent article.descAdmin {
    color: var(--white-sm);
    font-size: clamp(1.2rem, 4vw, 2.4rem);
    display: inline-block;
    max-width: 800px;
}

main .headerContent article.descAdmin span {
    color: var(--green);
    font-weight: 600;
}

main .formlink {
    padding: 0.5rem 0 0 3rem;
    flex-wrap: wrap;
}

main .formlink a.linkContact {
    background-color: #202022;
    padding: 0.7rem 1.5rem;
    margin: 0.6rem 0.6rem 0 0;
    border-radius: 0.3rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--white-sm);
    align-items: center;
    display: flex;
    white-space: nowrap;
}

main .formlink a.linkContact ion-icon {
    font-size: 1.1rem;
    margin-right: 0.3rem;
}

main .formlink a.Github ion-icon {
    color: var(--light-yellow);
}

main .formlink a.Linkedin ion-icon {
    color: #2682fb;
}

main .formlink a.Email ion-icon {
    color: var(--crimson);
}

main .formlink a.Resume ion-icon {
    color: var(--green);
}



.aboutMe .head-litle,
.project .head-litle {
    text-align: center;
    margin: 12.5rem 0 4.5rem 0;
}

.aboutMe .head-litle h1,
.project .head-litle h1 {
    font-size: 2.5rem;
    color: var(--white);
    text-transform: capitalize;
}


.aboutMe .profile {
    border-radius: 0.5rem;
    border: 1px solid var(--green);
    width: 100%;
    min-height: 100vh;
    margin: 2rem auto 10rem auto;
    color: var(--white);
    padding: 3rem 0;
    flex-wrap: wrap;
}

.aboutMe .profile .edoContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 3rem;
    width: 90%;
    margin: 0 auto;
}

.aboutMe .profile .edoContainer .col h2 {
    font-size: 1.7rem;
    text-transform: capitalize;
    color: var(--white-sm);
    margin: 0.4rem 0;
    font-weight: 500;
}

/* .aboutMe .profile .edoContainer .col li {
    font-size: 0.9rem;
    color: var(--gray--color);
    margin: 0.4rem 0 0.4rem 0.8rem;
    font-weight: 500;
    border-radius: 99px;
    letter-spacing: 0.06rem;
    list-style-type: decimal;
    text-align: left;
    background-color: red;
} */

.aboutMe .profile .about {
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0 1rem;
}

.aboutMe .profile .about .admin-profile {
    width: 100%;
    max-width: 300px;
}

.aboutMe .profile .about .profile-description {
    width: 100%;
    max-width: 800px;
}

.aboutMe .profile .about .profile-description h2 {
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: 600;
    text-transform: capitalize;
    margin: 1.2rem 0;
    color: var(--green);
    letter-spacing: 0.4px;
}

.profile .about .profile-description p {
    margin: 0.6rem 0;
    color: var(--gray--color);
    font-size: 1.05rem;
}

.projectContainer .projects {
    justify-content: space-between;
    flex-wrap: wrap;
}

.projectContainer .projects .project-box {
    width: 45%;
    padding-bottom: 1.2rem;
    border-radius: 0.3rem 0.3rem 0 0;
    overflow: hidden;
    margin: 2.2rem 0;
    border-bottom: 1px solid var(--border-color);
}

.project .box p {
    color: var(--gray--color);
}

.projectContainer .projects .project-box section {
    margin: 0.5rem auto 0.9rem auto;
    height: 16rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

.projectContainer .projects .project-box section img {
    width: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
    transition: all 200ms ease-in-out;
}

.projectContainer .projects .project-box img:hover {
    transform: scale(1.05);
}

.projectContainer .projects .project-box .title-project {
    margin: 0.3rem 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.project .box .title-project h1,
.projectContainer .projects .project-box .title-project h1 {
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--gray--color);
    text-transform: capitalize;
}

.description {
    color: #a0a0a0;
    font-size: 1.02rem;
    padding: 2rem 0.5rem;
    font-weight: 400;
}


.tech {
    color: #2682fb;
    background-color: #2269f722;
    padding: 0.2rem 0.6rem;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 0.4rem;
    margin: 0.3rem;
    text-transform: uppercase;
}

footer {
    display: block;
    margin: 4rem 0 1.2rem 0;
}

footer p {
    color: var(--gray--color);
    font-family: 0.9rem;
    font-weight: 500;
    text-align: center;
}

footer p strong {
    font-size: 1.01rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--green);
}

@media only screen and (max-width: 1240px) {
    .aboutMe .profile {
        display: flex;
        text-align: center;
        flex-direction: column;
        padding-top: 3rem;
    }

    .aboutMe .profile .about .admin-profile img {
        width: 100%;
        margin: 0%;
    }

    .aboutMe .profile .about .profile-description {
        width: 100%;
    }

    .profile .about .profile-description p {
        text-wrap: balance;
    }

    .aboutMe .profile .edoContainer,
    .aboutMe .profile .about {
        flex-direction: column;
    }

    .aboutMe .profile .edoContainer .col li {
        text-align: unset;
        list-style-type: none;
    }
}


@media only screen and (max-width: 1150px) {
    .projectContainer {
        flex-direction: column;
    }

    .projectContainer .project-box {
        min-width: 100%;
        height: auto;
        margin: 1.2rem 0 0 0;
    }

    .projectContainer .projects .project-box section {
        height: fit-content;
    }

}

@media only screen and (max-width: 1030px) {
    main .headerContent h1.admin span {
        display: block;
        width: fit-content;
    }
}

@media only screen and (max-width: 820px) {
    .projectContainer .projects .project-box {
        min-width: 100%;
    }

    main .headerContent h1.admin {
        text-wrap: balance;
    }

    main .headerContent article.descAdmin {
        font-size: 2rem;
    }

    .project .box .creative-title {
        font-size: 3rem;
    }

}

@media only screen and (max-width: 750px) {
    main .formlink {
        flex-direction: column;
    }
}

@media only screen and (max-width: 680px) {

    main .formlink,
    main .headerContent {
        padding: 0;
    }

    .aboutMe .profile .about .admin-profile {
        width: 70%;
    }

    main .headerContent article.descAdmin {
        font-size: 1.5rem;
        margin: 0.4rem 0;
    }

    .aboutMe .profile .about .profile-description h2 {
        font-size: 2.1rem;
    }
}

@media only screen and (max-width: 500px) {
    .projectContainer .project-box h1 {
        font-size: 1.110rem !important;
    }

    main .headerContent h1.admin span::after {
        display: none;
    }

    .profile .about .profile-description p {
        font-size: 0.95rem;
        padding: 0.5rem 0.1rem;
        line-height: 1.6;
    }

    .project .box .creative-title {
        font-size: 1.8rem;
    }

    footer p strong {
        display: block;
        margin-top: 0.5rem;
    }

    .aboutMe .profile .edoContainer ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.75rem;
        padding: 0;
    }

    .aboutMe .profile .edoContainer li {
        margin: 0 !important;
        white-space: nowrap;
        font-size: 0.8rem;
        padding: 0.5rem 1rem;
    }

    .aboutMe .profile .edoContainer .col h2 {
        font-size: 1.4rem;
        text-align: center;
        margin-bottom: 1rem;
    }
}